
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-sm navbar-dark">

        </nav>
        <div>
            @RenderBody()
        </div>

    </div>
</body>
</html>